<footer>
    <div class="footer">
        
        <div class="div">
            <div class="logo">
                <div class="origi-nals">
                    <div class="overlap-group">
                        <img class="logo" src="/design/logo.png" />
                        
                    </div>
                </div>
            </div>
            <div class="social-icons">
                <a href="https://www.instagram.com/origginals__/" target="_blank" rel="noopener noreferrer">
                    <div class="button-2">
                        <div class="text-wrapper">@origginals__</div>
                        <img class="group-3" src="/design/instagram.png" />
                    </div>
                </a>
            </div>
            <div class="text-2">© 2024&nbsp;&nbsp;-&nbsp;&nbsp;origiNals</div>
        </div>
    </div>
</footer>